.container {
	padding-top: 150px;
	margin: auto;
	width: 80%;
	max-width: 600px;
}

form {
	background-color: #EADEFF;
	padding: 24px;
	border-radius: 15px;
	font-family: Didot;
	font-weight: bold;
}

textarea {
	resize: none;
	width: 90%;
	height: 100px;
}

p {
	font-weight: normal;
	font-size: 0.75em;
}

input, select {
	float: right;
}

input[type=text], select {
	width: 33%;
}

input[type=email] {
	width: 33%;
}

@media only screen and (max-width: 500px) {
	input[type=text] {
	width: 75%;
	}

	input[type=email] {
		width: 75%;
	}
}