@font-face {
    font-family: 'Didot';
    src: url('./fonts/Didot.ttc') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zapfino';
    src: url('./fonts/Zapfino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* App style */
body {
	background-color: #FBF9F3;
}

a {
	text-decoration: none;
	color: black;
}

/* Section title styling */

.title {
	margin: auto;
	font-family: Zapfino;
	text-align: center;
	font-size: 2.7vw;
}

.container {
	padding-top: 150px;
}

/* Hashtag Styling */
.hashTag {
	padding-top: 100px;
}

/* Navigation component styling */
.navigationBarItems {
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-top: 1.65em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: black;
	font-weight: 700;
	text-decoration: none;
	max-width: 1000px;
	min-width: 300px;
	min-height: 48px;
	margin: auto;
	font-family: Didot;
	border-radius: 10px;
	background-color: #EADEFF;
	z-index: 100;
}

.navigationBarItems li:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Compact variants */
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
.navigationBarItems {
	font-size: 65%;
	padding-top: 1.0em;
	min-height: 1.75em;
	max-width: 500px;
  }
}

/* Hero image component styling */
.heroBanner {
	display: flex;
	max-width: 1100px;
	margin: auto;
	font-family: Zapfino;
	justify-content: center;
}

.heroBanner img {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 45px;
}

.heroBanner h2 {
	position: absolute;
	max-width: 1100px;
	margin: auto;
	width: 75%;
	text-align: center;
	padding-top: 50px;
	font-size: 1.75vw;
}

/* Place holder styling */

.placeHolder {
	display: flex;
	max-width: 1100px;
	margin: auto;
	height: 500px;
	background-color: black;
	opacity: 0.65;
	border-radius: 45px;
	align-items: center;
	justify-content: center;
}

.placeHolderMessage {
	color: white;
	font-family: Didot;
	text-align: center;
	vertical-align: middle;
}

/* Photo Grid styling */

.photoGrid {
	display: grid;
	grid-gap: px;
	grid-template-columns: auto auto auto auto auto;
	padding: 32px;
	max-width: 1100px;
	margin: auto;
	height: 950px;
	background-color: black;
	border-radius: 45px;
}

.photoGrid Img {
	height: 175px;
	border-radius: 5px;
	transition: all .2s ease-in-out;
}

.photoCaption {
	color: white;
	text-align: center;
}

.photoContainer {
	display: flex;
  	justify-content: center;
}

.photoGrid Img:hover {
	transform: scale(1.1);
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	  
  .photoGrid {
	grid-gap: 8px;
	grid-template-columns: auto auto;
	padding: 8px;
	max-width: 500px;
	margin: auto;
	height: 1770px;
}

	.photoGrid img {
		height: 100px;
	}
}
/* Footer */

.footer {
	height: 50px;
}

.footer p {
	text-align: center;
	padding-top: 45px;
}